
:root{
    --orange:#FFB534;
    --white:#FBF6EE;
    --lightGreen:#C1F2B0;
    --green:#65B741;
    --fontSmall:'Trebuchet MS';
    --fontBig:'Franklin Gothic Medium';
}
.informations{
    background-color: --;
}