*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange:#FFB534;
    --white:#FBF6EE;
    --lightGreen:#C1F2B0;
    --green:#65B741;
    --fontSmall:'Trebuchet MS';
    --fontBig:'Franklin Gothic Medium';
}
nav{
    background-color: var(--orange);
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logoContainer{
    width: 150px;
    height: 100px;
}
nav .logoContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
nav ul{
    list-style: none;
}
nav li, span{
    padding-inline: 18px;
    font-family: var(--fontSmall);
    float: left;
    color:var(--white);
    font-size: 19px;
    font-weight: bold;
}
nav .auth{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}
nav button{
    background-color: var(--lightGreen);
    color: black;
    font-family: var(--fontBig);
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 17px;
    cursor: pointer;
}
nav button:hover{
    background-color: var(--green);
}
footer{
    display: grid;
    grid-template-columns: 20% 55% 20%;
    grid-template-rows: auto;
    gap: 20px;
    padding: 25px;
    background-color: var(--white);
}
footer .logoHolder{
    position: relative;
}
footer .logoHolder div{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer .logoHolder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .middle{
    padding-left: 25%;
}
footer ul{
    list-style: none;
}
footer li{
    padding-top: 10px;
    font-family: var(--fontSmall);
    font-size: 16px;
}
footer .mainList .title{
    font-size: 19px;
    font-family: var(--fontBig);
    color: var(--green);
}
footer .mainList .subTitle{
    font-family: var(--fontBig);
    font-size: 18px;
    color: black;
}
footer .mainList :not(.title){
    margin-left: 15px;
    color: rgb(83, 83, 83);
}
.sec{
    min-height: 100vh;
    padding-bottom: 25px;
    position: relative;
}
footer .end{
    position: relative;
    font-family: var(--fontBig);
    font-size: 16px;
}
footer .end div{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer .end h1{
    background-color: black;
    width: fit-content;
    padding-inline: 10px;
    font-size: 35px;
    font-style: italic;
    color: var(--orange);
    font-weight: bold;
}
footer .end p{
    padding: 15px;
    color: rgb(83, 83, 83);
}
footer .end i{
    color: var(--green);
}
.recla{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(245, 245, 245, 0.496);
    display: none;
}
.reclaBanner{
    position: absolute;
    z-index: 3;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-35%);
    padding: 25px;
    background-color: var(--orange);
    width: 40%;
    border-radius: 15px;
    border: solid 3px red;
    padding-bottom: 40px;
}
.reclaBanner h1{
    color: white;
    font-family:var(--fontBig);
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
.reclaBanner div{
    margin-bottom: 10px;
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: column;
}
.reclaBanner div label{
    margin-bottom: 10px;
    font-family: var(--fontSmall);
    font-size: 18px;
}
.reclaBanner div input{
    border: none;
    padding: 5px;
    font-family: var(--fontSmall);
    font-size: 20px;
}
.reclaBanner .radios{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.reclaBanner .radios label{
    display: flex;
    flex-direction:row;
}
.reclaBanner .radios input{
    margin-right: 10px;
}
.reclaBanner #autre{
    opacity: 0;

}
.reclaBanner textarea{
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.reclaBanner button{
    padding: 8px 15px;
    font-family: var(--fontBig);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: var(--white);
    margin-left: 75%;
    margin-top: 15px;
}
.reclaBanner .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.reclaBanner .header h1{
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white);
    font-family: var(--fontSmall);
    flex-direction: column; /* Stack elements vertically */
}

.welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-message h1 {
    font-size: 24px;
    color: var(--orange);
}

.welcome-message hr {
    width: 50px;
    height: 2px;
    background-color: var(--orange);
    border: none;
    margin: 10px auto;
}

.login-container {
    width: 400px;
    height: 350px;
    padding: 20px;
    background-color: var(--lightGreen);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    max-width: 300px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    background-color: var(--orange);
    color: black;
    font-family: var(--fontBig);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: var(--green);
}
body.signup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white);
    font-family: var(--fontSmall);
    flex-direction: column;
}

.signup-body h1 {
    font-size: 24px;
    color: var(--orange);
    margin-bottom: 20px;
}

.signup-body form {
    width: 400px;
    padding: 20px;
    background-color: var(--lightGreen);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-body form input[type="text"],
.signup-body form input[type="number"],
.signup-body form input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-body form input[type="checkbox"] {
    margin-bottom: 10px;
}

.signup-body form input[type="submit"] {
    width: 100%;
    background-color: var(--orange);
    color: black;
    font-family: var(--fontBig);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

.signup-body form input[type="submit"]:hover {
    background-color: var(--green);
}